@mixin tamanos($width, $height) {
  width: $width;
  height: $height;
}

.mainHorarios {
  display: grid;
  grid-template-rows: repeat(4, auto);

  .imgContactanos {
    @include tamanos(100%, 350px);
  }
  @media (max-width: 768px) {
    .imgContactanos {
      height: 250px;
    }
  }
  @media (max-width: 425px) {
    .imgContactanos {
      height: 150px;
    }
  }
  .textoFormulario {
    height: 120px;
    text-align: center;
    font-size: $fuentePpal;
    font-weight: 700;
    color: white;
  }
  @media (max-width: 768px) {
    .textoFormulario {
      height: 50px;
      margin-top: 1em;
    }
    p {
      margin: 0 !important;
      font-size: 14px;
    }
  }
  @media (max-width: 425px) {
    .textoFormulario {
      height: 55px;
    }
    p {
      margin: 0 !important;
      font-size: 10px;
    }
  }

  .UbicYFormulario {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;

    .formulario {
      @include tamanos(90%, auto);
      background-color: $colorSecundario;
      color: white;
      text-align: center;
      font-weight: 900;
      border: solid 8px white;

      .datosFormulario {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          @include tamanos(90%, 35px);
          margin-bottom: 1em;
          font-size: $fuentePpal;
          padding-left: 1em;
          border: none;
          border-radius: 0.5em;
        }
        @media (max-width: 768px) {
          input {
            height: 25px;
            font-size: 14px;
          }
        }

        .selecActividad {
          @include tamanos(80%, 50px);
          font-size: $fuentePpal;
          padding-left: 1em;
          border: none;
          border-radius: 0.5em;
        }
        @media (max-width: 768px) {
          .selecActividad {
            height: 25px;
            font-size: 14px;
          }
        }

        textarea {
          margin-top: 1em;
          padding: 1em;
          font-size: $fuentePpal;
          width: 90%;
          border: none;
          border-radius: 0.5em;
        }

        .buttonTextarea {
          @include tamanos(200px, 40px);
          background-color: $colorFondo;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          font-size: $fuentePpal;
          font-weight: 600;
          color: white;
          border-radius: 0.5em;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .formulario {
      width: 90%;
      margin-bottom: 0;
    }
  }

  .mapaUbicacion {
    @include tamanos(90%, 275px);
    margin-top: 1em;
    border: solid 8px $colorSecundario;
  }
  @media (max-width: 768px) {
    .mapaUbicacion {
      height: 180px;
    }
    iframe {
      height: 165px;
    }
  }
}
