@mixin tamanos($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

.bodyIndex {
  background-image: url(../images/fachada2.1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  margin: 0;
  
  .mainIndex {
    @include flex(flex, none, center);
    flex-direction: column;
    height: auto;
    margin-top: 50px;

    .logoIndex {
      @include tamanos(900px, 300px);
      background-image: url(../images/logoSportgym.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media (max-width: 768px) {
      .logoIndex {
        @include tamanos(600px, 250px);
        margin-top: 5px;
      }
    }
    @media (max-width: 425px) {
      .logoIndex {
        @include tamanos(380px, 280px);
      }
    }

    .buttonMain {
      @include tamanos(320px, 60px);
      @include flex(flex, center, center);
      padding: 0.2em;
      font-size: 26px;
      font-weight: 700;
      color: white;
      border: solid $colorSecundario 4px;
      cursor: pointer;
      text-decoration-line: none;
      margin-top: 3em;
      &:hover {
        color: $colorSecundario;
        font-size: 28px;
        border: solid white;
      }
    }
    @media (max-width: 425px), (max-width: 768px) {
      .buttonMain {
        @include tamanos(350px, 40px);
        margin-top: 0.5em;
        font-weight: 600;
      }
    }
  }
}
.contFooterIndex {
  @include flex(flex, space-evenly, center);
  width: 100%;
}
.iconoFooterIndex {
  @include tamanos(40px, 40px);
}
@media(max-width:425px){
  .iconoFooterIndex{
    position: absolute;
    top: 90%;
  }
}
