/* ------------------------ MAIN ------------------------------------ */
.mainInicio {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.imgInicio {
  height: 400px;
  width: 100%;
  display: flex;
  justify-self: center;
}
@media (max-width: 768px) {
    .imgInicio {
      width: 90%;
      height: 90%;
      margin-top: 0.5em;
    }
  }

.actividad {
  position: relative;
  display: inline-block;
  text-align: center;

  .textActividad {
    color: white;
    position: absolute;
    top: 20%;
    left: 30px;
    transform: translate(-20%, -50%);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  @media (max-width: 768px) {
    .textActividad {
      font-size: 20px;
    }
  }

  .textActividad2 {
    color: white;
    position: absolute;
    top: 70%;
    left: 60px;
    transform: translate(-20%, -10%);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  @media (max-width: 768px) {
    .textActividad2 {
      font-size: 20px;
      left: 30px;
    }
  }
}


