@mixin tamanos($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-left($font-size, $left) {
  font-size: $font-size;
  left: $left;
}

@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

/* ------------------------ MAIN ------------------------------------ */
.mainInicio {
  display: grid;
  grid-template-rows: repeat(5, auto);

  @media (max-width: 425px) {
    .imgInicio {
      @include tamanos(100%, 80%);
    }
  }
  .imgInicio {
    @include tamanos(100%, 350px);
    @include flex(flex, center, none);
  }

  @media (max-width: 768px) {
    .imgInicio {
      @include tamanos(100%, 90%);
    }
  }

  /*Propiedades del section*/

  .sectionActividades {
    @include flex(flex, center, center);
    height: auto;
    margin-top: 0.5em;

    .containerActiv {
      @include flex(flex, center, center);
      @include tamanos(300px, 350px);
      flex-direction: column;
      text-align: center;
      margin: 0.8em;
      &:hover {
        box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273); /*Efecto de las cards*/
        transition: all 0.4s linear; /*Transicion de los efectos*/
      }

      .imgActividad {
        @include tamanos(100%, 40%);
      }

      @media (max-width: 425px) {
        .imgActividad {
          @include tamanos(100%, 50%);
        }
      }

      .containInfo {
        @include flex(flex, space-between, center);
        @include tamanos(100%, 60%);
        position: relative;
        flex-direction: column;
        background-color: $colorFondo;
        padding: 0%;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;

        h3 {
          color: white;
          font-size: 20px;
          margin-top: 0.5em;
          font-weight: 600;
          text-shadow: 2px -1px 2px rgb(253, 0, 0);
        }
        p {
          color: #a1a4a7;
          font-size: 16px;
        }

        @media (max-width: 768px) {
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 11px;
          }
        }
        button {
          @include tamanos(60%, 20%);
          @include flex(flex, center, center);
          border-radius: 5px;
          justify-self: flex-end;
          margin: 10px 0 10px 0;
          text-decoration: none;
          background-color: $colorFondo;
          color: white;
          font-size: 14px;
          &:hover {
            background-color: $colorSecundario;
            color: white;
          }
        }
        @media (max-width: 768px) {
          button {
            font-size: 11px;
            height: 15%;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .containerActiv {
        @include tamanos(180px, 260px);
      }
    }
    @media (max-width: 425px) {
      .containerActiv {
        @include tamanos(320px, 280px);
      }
    }
  }

  @media (max-width: 425px) {
    .sectionActividades {
      flex-direction: column;
      margin-top: 0;
    }
  }

  .containerServicios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .imgServicios {
      @include tamanos(80px, 80px);
    }
    @media (max-width: 768px) {
      .imgServicios {
        @include tamanos(60px, 60px);
      }
    }
    @media (max-width: 425px) {
      .imgServicios {
        @include tamanos(50px, 50px);
      }
    }
  }
}

@media (max-width: 425px) {
  .img-fluid {
    object-fit: fill;
    @include tamanos(100%, 100%);
  }
  .actividad {
    @include tamanos(390px, 130px);
    position: relative;
    display: inline-block;
    border-radius: 1em;
    overflow: hidden;
    padding: none !important;
  }
}
