.mainInst {
  display: grid;
  grid-template-rows: repeat(9, auto);

  .section{
    display: flex;
    width: auto ;
    height: 200px;

    .imgSection{
      width: 0px;
      margin:0.1em;
      flex-grow: 1;
      object-fit: cover;
      opacity: .4;
      transition: .6s ease;
      &:hover{
        cursor: crosshair;
        width: 150px;
        opacity:8;
        filter: contrast(100%);
      }
    }


  }

  @media (max-width: 768px) {
    .imgGimnasio {
      width: 200px;
      height: 200px;
    }
  }
  @media (max-width: 425px) {
    .imgGimnasio {
      width: 190px;
      height: 150px;
    }
  }
}
