@mixin tamanos($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

.mainInicio {
  display: grid;
  grid-template-rows: repeat(5, auto);
}
.imgInicio {
  @include tamanos(100%, 350px);
}

  @media (max-width: 768px) {
    .imgInicio {
      @include tamanos(100%, 280px);
    }
  }

  @media (max-width: 425px) {
    .imgInicio {
      @include tamanos(100%, 150px);
      @include flex(flex, center, none);
    }
  }

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #505050;
  background-color: rgb(27, 27, 27);
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}
.contenedor .contenedor-items .item .img-item {
  border-radius: 0.5em;
  width: 100%;
}
.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #505050;
  scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $colorPrimario;
  margin-bottom: 0.5em;
  text-shadow: 1px -1px 1px $colorSecundario;
}
.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: $colorPrimario;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: $colorSecundario;
  color: $colorPrimario;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
/* seccion carrito */
.carrito {
  border: 1px solid #505050;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  background-color: rgb(27, 27, 27);
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}
.carrito .header-carrito {
  background-color: $colorPrimario;
  color: $colorFondo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px -1px 1px $colorSecundario;
  font-size: $fuentePpal;
  padding: 4px;
}
.carrito .carrito-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
}
.carrito .carrito-item img {
  border-radius: 0.5em;
  margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $colorPrimario;
}
.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
  color: $colorPrimario;
}
.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: $fuentePpal;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
  color: $colorPrimario;
}
.carrito .carrito-item .selector-cantidad i {
  font-size: $fuentePpal;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #474747;
  cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
  color: $colorPrimario;
}
.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  color: $colorPrimario;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #474747;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}
.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: $colorPrimario;
  padding: 30px;
}
.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: $colorSecundario;
  color: $colorPrimario;
  border-radius: 5px;
  font-size: $fuentePpal;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 768px) {
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .carrito {
    width: 100%;
  }
}
